@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  font-family: "Press Start 2P", system-ui;
}

.nes-container,
.nes-btn,
.nes-field {
  margin: 16px;
}

.center {
  display: flex;
  justify-content: space-around;
}
